<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../fav.ico" type="image/x-icon" />
    <title>Sign Up | bloom</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'javascript/jquery-3.5.1.min.js' %}"></script>
    <style>
        body {
            background: url('../static/images/page2_top.jpg');
            background-size: cover;
        }
    </style>
    <script src="{% static 'javascript/jquery-3.5.1.min.js' %}"></script>
</head>
<body>
<div class="top-menu-bar">
        <img src="{% static 'images/logo.svg' %}" alt="logo" class="logo-img">

        <div>
            <a href="{% url 'login' %}" class="menus">Login</a>
            <a href="signup.php" class="menus active">Signup</a>
        </div>
    </div>

    <div class="log-container">
            <form action="{% url 'signup' %}" method="post" class="login-main-box">
                {% csrf_token %}
                <h2 class="main-heading">Sign up to bloom</h2>
                <h5 class="sub-heading">The best decision that you ever made</h5>

                <div class="sub-login-box">
                    <label for="name" class="input-label">Name</label>
                    <input type="text" class="input-box" required id="name" name="name">
                </div>

                <div class="sub-login-box">
                    <label for="email" class="input-label">Email</label>
                    <input type="email" class="input-box" required id="email" name="email">
                </div>

                <div class="sub-login-box">
                    <label for="password" class="input-label">Password</label>
                    <input type="password" class="input-box" required id="password" name="password">
                </div>

                <label style="color: rgba(255,255,255,0.1);font-size: 12px;padding: 0 0 10px 0;">&#10003; Your are accepting to our Policies and Conditions</label>
                <button class="log-button" name="singup-form" id="reg-submit-button">Create Account</button>
                <label style="color: rgba(255,255,255,0.1);font-size: 12px;padding: 10px 0 0 0;">&copy; 2020 bloom</label>
            </form>
            <!-- ajax to check username -->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.error-message').hide();
                    $('#email').on('keyup',function(){
                        let email = $('#email').val();
                        $.ajax({
                            url: '/signup/checkUsername/',
                            type: 'post',
                            data: {
                                email: email
                            },
                            success: function(dataResult) {
                                if(dataResult['userNameFound'] === true) {
                                    $('.error-message').show();
                                    $('#reg-submit-button').attr('disabled','disabled').css({'opacity': '0.4','cursor': 'progress'});
                                }else {
                                    $('.error-message').hide();
                                    $('#reg-submit-button').removeAttr('disabled').css({'opacity': '1','cursor': 'pointer'});
                                }
                            }
                        });
                    });
                });

                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
            </script>
<p class="error-message">Sorry Email already registred</p>
    </div>
</body>
</html>